body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100vw;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

.circuit-builder-flow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.circuit-builder-flow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.circuit-builder-flow aside .description {
  margin-bottom: 10px;
}

.circuit-builder-flow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.circuit-builder-flow .flow-wrapper {
  flex-grow: 1;
  height: 100%;
}