body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100vw;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.circuit-builder-container {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  background-color: #F7F9FB;
  max-height: 90%;
}

.react-resizable-panel {
  display: flex;
}

.resize-handle-vertical {
  width: 5px;
  cursor: ew-resize;
  background: #ccc;
}

.resize-handle-horizontal {
  height: 5px;
  cursor: ns-resize;
  background: #ccc;
}

.left-pane {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: #fcfcfc;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

/* Toolbox Section */
.toolbox-container {
  flex-grow: 1; /* Allows Toolbox to expand while leaving space for properties */
  overflow-y: auto;
  padding: 10px;
}

/* Properties Window */
.properties-window {
  background: #f1f1f1;
  border-top: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}


/* ------- RIGHT PANE (ReactFlow workspace) ------- */

.circuit-builder-container .flow-wrapper {
  flex-grow: 1;
  display: flex;
  position: relative;
  background-color: #F7F9FB;
}

.circuit-builder-container .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

@media screen and (min-width: 768px) {
  .circuit-builder-container {
    flex-direction: row;
  }

  .circuit-builder-container aside {
    width: 20%;
    max-width: 250px;
  }
}